/*-----------------------------------------------------------------------------
  #Tag Styles (Roam Collective Convention)
----------------------------------------------------------------------------- */

/*-------------------------------
  #[[My Daily Notes]] [[Your Name]]
------------------------------- */

span.rm-page-ref[data-tag="My Daily Notes"] {
	background-image: linear-gradient(to right, var(--cl-gray-600),var(--cl-gray-600));
	background-size: 100%;
    color: var(--cl-white);
    padding: 3px 2px 3px 5px;
    font-size: 13px;
    line-height: 1em;
    border-radius: 3px 0 0 3px;
    position:relative;
}

 span.rm-page-ref[data-tag="My Daily Notes"] + span[data-link-title] {
     background: var(--cl-gray-200) !important;
     color: var(--cl-gray-900) !important;
     padding: 3px 5px 3px 15px;
     font-size: 13px;
     line-height: 1em;
     font-weight: 400;
     border-radius: 0 3px 3px 0;
     margin-left: -5px;
}


span.rm-page-ref[data-tag="My Daily Notes"]:after, span.rm-page-ref[data-tag="Post"]:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

span.rm-page-ref[data-tag="My Daily Notes"]:after {
    border-color: rgba(255,255,255,0);
    border-left-color: var(--cl-gray-600);
    border-width: 11px;
    margin-top: -11px;
}

span.rm-page-ref[data-tag="My Daily Notes"]:before {
    border-color: rgba(255,255,255,0);
    border-left-color: var(--cl-gray-600);
    border-width: 11px;
    margin-top: -11px;
}
