/*

  Roam Writer Theme
  @itsjustmath
  v0.1

*/

:root {
    --font-size: 15px;
    --border-radius: 6px;
    --border-radius-sm: 3px;
}

@media (prefers-color-scheme: light) {
    :root {
        --body-color: #fff;

        --font-color: #202b33;
        --font-color-h3: #5c7080;

        --link-color: #337ab5;
        --link-color-hover: #23527c;

        --selection-color-bg: #9ec4ff;
        --highlight-color: #fef09f;
        --highlight-color-block: #cfefff;
        --highlight-color-block-bg: #ffffa4;

        --border-color-xxlight: #f5f8fa;
        --border-color-xlight: #f2f3f4;
        /*--border-color-light: #e8ebec;*/
        --border-color-light: rgba(219, 219, 219, 1);
        /*--border-color-med: #d6d9da; */
        --border-color-med: rgba(203, 202, 205, 1);
        --border-color-dark: #acb1b4;
        --border-color-trans: rgba(0, 0, 0, 0.1);
        --border-color-trans-light: rgba(0, 0, 0, 0.05);

        --scope-bullet: #ff1100;
        --scope-bullet-closed: #e8ebec;
        --scope-bullet-border: #fff2f1;

        --callout-bg-red: #f2dede;
        --callout-bg-yellow: #fcf8e3;
        --callout-bg-blue: #d9edf7;
        --callout-bg-green: #dff0d8;

        --morning-pages: #ecd400;
        --evening-pages: #0d00ec;

        --zprime-bg: rgba(51, 122, 185, 0.8);
        --zprime-border: rgba(51, 122, 185, 0.6);
        --zprime-border-light: rgba(51, 122, 185, 0.15);
        --zprime-bg-hover: rgba(51, 122, 185, 0.9);
        --zprime-border-hover: rgba(51, 122, 185, 0.8);
        --zprime-border-light-hover: rgba(51, 122, 185, 0.25);

        --choice-red: #b01e1e;
        --choice-green: #19a46b;

        --ticker-color: #1cc600;

        --cm-atom: #219;
        --cm-number: #164;
        --cm-keyword: #708;
        --cm-qualifier: #555;
        --cm-tag: #170;
        --cm-variable: inherit;
        --cm-variable-2: #05a;
        --cm-variable-3: #085;
        --cm-string: #a11;
        --cm-comment: #a50;
        --cm-def: #00f;
        --cm-builtin: #30a;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --body-color: #10161a;

        --font-color: #dce1e6;
        --font-color-h3: #94a4b0;

        --link-color: #337ab5;
        --link-color-hover: #368fd9;

        --selection-color-bg: rgba(158, 196, 255, 0.4);
        --highlight-color: rgba(255, 236, 0, 0.2);
        --highlight-color-block: rgba(0, 170, 255, 0.1);
        --highlight-color-block-bg: rgba(255, 229, 0, 0.1);

        --border-color-xxlight: #181f26;
        --border-color-xlight: #1f2831;
        --border-color-light: #323f4d;
        --border-color-med: #415060;
        --border-color-dark: #506071;
        --border-color-trans: rgba(255, 255, 255, 0.1);
        --border-color-trans-light: rgba(255, 255, 255, 0.05);

        --scope-bullet: #fff;
        --scope-bullet-closed: #1f2831;
        --scope-bullet-border: rgba(80, 96, 113, 0.4);

        --callout-bg-red: rgba(255, 0, 0, 0.1);
        --callout-bg-yellow: rgba(255, 214, 0, 0.1);
        --callout-bg-blue: rgba(0, 170, 255, 0.1);
        --callout-bg-green: rgba(74, 255, 0, 0.1);

        --morning-pages: #ecd400;
        --evening-pages: #4e43ff;

        --zprime-bg: rgba(51, 122, 185, 0.8);
        --zprime-border: rgba(51, 122, 185, 0.6);
        --zprime-border-light: rgba(51, 122, 185, 0.15);
        --zprime-bg-hover: rgba(51, 122, 185, 0.9);
        --zprime-border-hover: rgba(51, 122, 185, 0.8);
        --zprime-border-light-hover: rgba(51, 122, 185, 0.25);

        --choice-red: #b01e1e;
        --choice-green: #19a46b;

        --ticker-color: #1cc600;

        --cm-atom: #d8fa3c;
        --cm-number: #d8fa3c;
        --cm-keyword: #fbde2d;
        --cm-qualifier: #8da6ce;
        --cm-tag: #8da6ce;
        --cm-variable: #ff6400;
        --cm-variable-2: #ff8f47;
        --cm-variable-3: #cad9f0;
        --cm-string: #61ce3c;
        --cm-comment: #aeaeae;
        --cm-def: #8da6ce;
        --cm-builtin: #8da6ce;
    }
}

body {
    background-color: var(--body-color);
    font-size: var(--font-size);
    -webkit-font-smoothing: antialiased;
}

a:focus,
a:hover {
    color: var(--link-color-hover);
}

.roam-body .roam-app {
    color: var(--font-color);
}

.roam-topbar {
    background-color: var(--body-color);
}

/* remove full-width */
.rm-full-width {
    margin-right: 0;
}

/* dividers between daily notes */
.roam-log-container .roam-log-page {
    border-top: 1px solid var(--border-color-light);
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: 0;
}

/* add breathing room (line-height) to block text */
.roam-block,
.rm-block-input {
    line-height: 1.6em;
}

/* highlighter */
.rm-highlight {
    background-color: var(--highlight-color);
    border-radius: var(--border-radius-sm);
}

/* block selection highlight */
.block-highlight-blue {
    background-color: var(--highlight-color-block);
}

/* block move highlight */
.block-highlight-grey {
    background-color: var(--border-color-trans);
}

/* block revel highlight */
.block-highlight-yellow {
    background-color: var(--highlight-color-block-bg);
}

::selection {
    background-color: var(--selection-color-bg);
    color: var(--font-color);
}

/* horizontal rule */
.rm-hr {
    border: none;
    border-top: 3px solid var(--border-color-xlight);
}

/* breadcrumbs */
.rm-zoom.zoom-path-view .rm-zoom-mask {
    background-color: var(--highlight-color);
    border-radius: var(--border-radius-sm);
}

/* option selection */
.rm-option {
    border-color: var(--border-color-light);
    cursor: pointer;
}

.rm-option::after {
    border-top-color: var(--border-color-med);
}

#all-pages-search .rm-pages-row-header {
    background-color: var(--border-color-light);
    color: var(--font-color);
    border-bottom: 0;
}

#all-pages-search .rm-pages-row-header .rm-pages-col span {
    opacity: 0.6;
}

#all-pages-search .rm-pages-row {
    border-bottom-color: var(--border-color-light);
}

#all-pages-search .rm-pages-row-header .rm-pages-col span.sorted-header-text,
#all-pages-search span.sorted-header-text,
#all-pages-search .rm-pages-title-col {
    color: var(--font-color);
    opacity: 1;
}

#all-pages-search .rm-pages-title-text {
    color: var(--font-color);
}

#all-pages-search .rm-pages-title-text:hover {
    color: var(--link-color-hover);
}

#all-pages-search .title-children-text {
    opacity: 0.6;
}

#all-pages-search .bp3-control input:checked ~ .bp3-control-indicator {
    background: var(--link-color);
}

#all-pages-search .bp3-control input:focus ~ .bp3-control-indicator {
    outline: none;
}

#all-pages-search .toolbar-search-group .bp3-input-group {
    padding-right: 6px;
}

#all-pages-search .search-input {
    box-shadow: 0 0 0 1px var(--border-color-light);
    background-color: var(--body-color);
    color: var(--font-color);
}

#all-pages-search .search-input:focus {
    box-shadow: 0 0 0 3px var(--border-color-light);
    border: 0 !important;
}

#all-pages-search .search-icon {
    color: var(--border-color-light);
}

/* righthand border */
.roam-body .roam-app .roam-sidebar-container {
    box-shadow: 0 0 0 1px var(--border-color-xlight);
}

/* space between top row and links */
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .top-row {
    margin-bottom: 6px;
}

/* remove icons */
.roam-sidebar-container .roam-sidebar-content .log-button .icon,
.roam-sidebar-container
    .roam-sidebar-content
    .starred-pages-wrapper
    .flex-h-box
    .bp3-icon-star,
.roam-sidebar-container
    .roam-sidebar-content
    .starred-pages-wrapper
    .flex-h-box
    div {
    display: none;
}

/* shrink the links */
.roam-sidebar-container .roam-sidebar-content .log-button {
    font-size: 13.2px !important;
}

/* lighten the divider */
.starred-pages-wrapper > div:first-child {
    background-color: #26313c !important;
}

/* shrink shortcuts label */
.roam-sidebar-container
    .roam-sidebar-content
    .starred-pages-wrapper
    .flex-h-box
    span {
    font-weight: 600 !important;
    font-size: 11px;
    opacity: 0.7;
}

/* don't indent shortcut links */
.roam-body
    .roam-app
    .roam-sidebar-container
    .roam-sidebar-content
    .starred-pages-wrapper
    .starred-pages
    .page {
    padding-left: 0;
}

/* adjust space around links */
.roam-sidebar-container .roam-sidebar-content .log-button,
.roam-sidebar-container
    .roam-sidebar-content
    .starred-pages-wrapper
    .starred-pages
    .page {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}

/* remove bg color on link hover */
.roam-sidebar-container
    .roam-sidebar-content
    .starred-pages-wrapper
    .starred-pages
    .page:hover,
.roam-sidebar-container .roam-sidebar-content .log-button:hover {
    background-color: initial !important;
}

/* remove roam logo */
#roam-sidebar-logo {
    display: none;
}

/* remove bg color and add lefthand border */
#right-sidebar {
    background-color: var(--body-color);
    box-shadow: 0px 0px 0px 5px var(--border-color-light);
    font-size: 14px;
}

#roam-right-sidebar-content
    [style*='border-bottom: 1px solid rgb(138, 155, 168);'] {
    border-bottom-color: var(--border-color-xlight) !important;
}

#roam-right-sidebar-content .bp3-button {
    color: var(--border-color-dark);
}

#roam-right-sidebar-content [style*='background-color: rgb(225, 232, 237)'] {
    background-color: var(--border-color-trans-light) !important;
    border-radius: var(--border-radius-sm);
}

/* page H1 */
h1.rm-title-display,
h1.rm-title-editing-display {
    color: var(--font-color) !important;
    letter-spacing: -1px;
    font-weight: 800;
    text-decoration: underline solid var(--border-color-xlight) 10px;
    text-underline-offset: -3px;
}

/* content H1/H2 */
.rm-heading-level-1 > .rm-block__self .rm-block__input,
.rm-heading-level-2 > .rm-block__self .rm-block__input {
    font-weight: 700;
    letter-spacing: -0.6px;
}

/* content H3 */
.rm-heading-level-3 > .rm-block__self .rm-block__input {
    letter-spacing: -0.4px;
    text-decoration: underline;
    color: var(--font-color-h3);
}

/* adjust bullet on content H1 */
.rm-heading-level-1 > .rm-block__self .rm-block__controls {
    padding-top: 14px;
}

/* adjust bullet on content H2 */
.rm-heading-level-2 > .rm-block__self .rm-block__controls {
    padding-top: 9px;
}

/* adjust bullet on content H3 */
.rm-heading-level-3 > .rm-block__self .rm-block__controls {
    padding-top: 6px;
}

.sidebar-content .rm-bullet.rm-bullet--closed .rm-bullet__inner,
.rm-bullet.rm-bullet--closed .rm-bullet__inner {
    border-color: var(--scope-bullet-closed);
}

.roam-block-container:focus-within > .rm-block-main .rm-bullet__inner {
    border-color: var(--scope-bullet-border);
}

.rm-block-main:focus-within .rm-bullet__inner {
    background-color: var(--scope-bullet);
}

.rm-multibar {
  border-color: var(--border-color-xlight);
}

.rm-block-children:focus-within > .rm-multibar {
  border-color: var(--border-color-med);
}

.rm-page-ref--link {
    color: var(--link-color);
}

.rm-page-ref--link:hover {
    color: var(--link-color-hover);
}

.rm-page-ref__brackets {
    font-weight: 200;
    color: var(--border-color-dark);
}

.rm-page-ref--tag {
    color: var(--border-color-dark);
}

a.rm-alias--page {
    color: var(--link-color);
}

a.rm-alias--page:hover {
    color: var(--link-color-hover);
}

a.rm-alias--page::before,
a.rm-alias--page::after {
    color: var(--border-color-dark);
    font-weight: 200;
    display: inline-block;
}

a.rm-alias--page::before {
    content: '[';
}

a.rm-alias--page::after {
    content: ']';
}

/* add Japanese reference mark */
span.rm-block-ref::before {
    content: '※ ';
    font-family: Georgia, serif;
}

span.rm-block-ref {
    border-bottom-color: var(--border-color-light);
}

span.rm-block-ref:hover {
    background-color: var(--border-color-xxlight);
}

.rm-inline-references {
    padding: 8px 20px;
    margin-bottom: 14px;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    border-left-color: var(--border-color-dark);
    background-color: var(--border-color-xxlight);
}

.rm-inline-references span.rm-block-ref:hover {
    background-color: var(--border-color-light);
}

.rm-reference-item {
    border: 1px solid var(--border-color-light);
    border-radius: var(--border-radius-sm);
    background-color: var(--border-color-xxlight);
    padding: 8px 8px 8px 0;
    margin-bottom: 4px;
}

/* add divider above linked/unlinked refs */
.roam-article > div:last-child:not(.roam-log-container) {
    border-top: 1px dashed var(--border-color-light);
    padding-top: 20px;
    margin-top: 40px !important;
}

/* add breathing room before unlinked refs */
.rm-reference-main div .rm-reference-container .rm-mentions {
    margin-bottom: 10px;
}

/* block embeds */
.rm-embed-container {
    border-radius: var(--border-radius);
    background-color: var(--border-color-xlight);
}

.rm-inline-references .rm-embed-container {
    background-color: var(--border-color-light);
}

/* ref count */
.roam-block-container .block-ref-count-button {
    color: var(--font-color);
}

.roam-block-container .block-ref-count-button:hover,
.block-ref-count-button.rm-active {
    background-color: var(--border-color-light);
    color: var(--font-color);
}

.rm-paren {
    margin: 0 !important;
    padding: 0 3px;
    background-color: var(--border-color-xxlight);
    border: 1px solid var(--border-color-xlight);
}

.rm-paren--closed:hover,
.rm-paren--open {
    background-color: var(--border-color-xlight);
    border-color: var(--border-color-light);
}

.rm-paren__paren {
    color: var(--font-color);
    opacity: 0.5;
}

.rm-paren__paren:hover {
    background-color: initial;
    color: var(--font-color);
    opacity: 1;
}

.rm-paren svg path {
    fill: var(--font-color);
}

/* completed todo color */
.check-container input:checked ~ .checkmark {
    background-color: var(--link-color-hover);
}

/* strikethrough completed todos */
div[data-page-links='["DONE"]'] > .rm-block-main {
    text-decoration: line-through;
}

code {
    background-color: var(--border-color-xlight);
    color: var(--font-color);
    border-color: var(--border-color-light);
    border-radius: var(--border-radius-sm);
}

.CodeMirror {
    border: 1px solid var(--border-color-med);
    border-radius: var(--border-radius);
    padding: 1px;
    background-color: var(--body-color);
    color: var(--font-color);
}

.CodeMirror-gutters {
    background-color: var(--border-color-xxlight);
    border-right-color: var(--border-color-med);
    padding-right: 4px;
}

.CodeMirror-linenumber {
    font-family: monospace;
    color: var(--border-color-dark);
}

.CodeMirror-cursor {
    border-left: 2px solid var(--border-color-dark);
}

.codemirror-colorview,
.codemirror-colorview-background {
    border: 0;
    box-shadow: 0 0 0 1px var(--border-color-trans);
}

.CodeMirror .cm-atom {
    color: var(--cm-atom);
}

.CodeMirror .cm-number {
    color: var(--cm-number);
}

.CodeMirror .cm-keyword {
    color: var(--cm-keyword);
}

.CodeMirror .cm-qualifier {
    color: var(--cm-qualifier);
}

.CodeMirror .cm-comment {
    color: var(--cm-comment);
}

.CodeMirror .cm-tag {
    color: var(--cm-tag);
}

.CodeMirror .cm-variable {
    color: var(--cm-variable);
}

.CodeMirror .cm-variable-2 {
    color: var(--cm-variable-2);
}

.CodeMirror .cm-variable-3 {
    color: var(--cm-variable-3);
}

.CodeMirror .cm-string {
    color: var(--cm-string);
}

.CodeMirror .cm-def {
    color: var(--cm-def);
}

.CodeMirror .cm-builtin {
    color: var(--cm-builtin);
}
.rm-find-or-create-wrapper .search-icon {
    color: var(--border-color-light);
}

#find-or-create-input {
    box-shadow: 0 0 0 1px var(--border-color-light);
    background-color: var(--body-color);
    color: var(--font-color);
}

#find-or-create-input:focus {
    box-shadow: 0 0 0 3px var(--border-color-light);
}

/* search results highlight */
.rm-topbar .rm-find-or-create-wrapper .rm-menu-item[style*="background-color"] {
    background-color: var(--border-color-light) !important;
    color: var(--text-color);
}

.rm-pomodoro {
    border-color: var(--border-color-med);
    background: var(--border-color-xlight) !important;
    color: var(--font-color) !important;
}

.rm-block-text .bp3-icon-calendar {
    background: var(--border-color-xlight) !important;
    box-shadow: 0 0 0 1px var(--border-color-med) !important;
}

.bp3-datepicker {
    background: var(--border-color-xlight);
}

.bp3-datepicker .bp3-html-select select {
    color: var(--font-color);
}

.bp3-datepicker .bp3-html-select select:hover,
.bp3-datepicker .DayPicker-Day:hover,
.bp3-datepicker .DayPicker-Day:focus {
    color: var(--font-color);
    background: var(--border-color-med);
}

.bp3-datepicker-caption + .bp3-divider {
    border-color: var(--border-color-light);
}

.bp3-datepicker
    .DayPicker-Day.DayPicker-Day--isToday
    .bp3-datepicker-day-wrapper {
    border-color: var(--border-color-med);
}

.rm-encrypted-block {
    background-color: transparent;
    color: var(--font-color);
    padding: 0;
    font-size: 14px;
    font-weight: 300;
}

.rm-encrypted-block .rm-encrypted-passphrase {
    color: var(--border-color-dark);
}

.rm-encrypted-block .bp3-icon-lock {
    color: var(--choice-green);
}

.rm-encrypted-block .rm-encrypted-passphrase .bp3-icon-lock {
    color: var(--choice-red);
}

.rm-encrypted-block .rm-encrypted-passphrase form {
    color: var(--font-color);
}

.rm-encrypted-block .rm-encrypted-passphrase form input {
    background: var(--border-color-xxlight);
    color: var(--font-color);
    box-shadow: 0 0 0 1px var(--border-color-med);
    border: 0;
    border-radius: var(--border-radius-sm);
    padding: 4px 6px !important;
}

.rm-encrypted-block .rm-encrypted-passphrase form input:focus,
.rm-encrypted-block .rm-encrypted-passphrase form input.bp3-button:hover {
    background: var(--border-color-xlight);
    box-shadow: 0 0 0 1px var(--border-color-dark);
}

blockquote.rm-bq {
    background-color: var(--border-color-xxlight);
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    border-left-color: var(--font-color-h3);
    font-family: Georgia;
    font-size: 16px;
    line-height: 1.6;
    opacity: 0.8;
    position: relative;
    padding: 16px 22px;
}

blockquote.rm-bq::after {
    content: '\0022';
    font-family: cursive;
    transform: rotate(-190deg);
    position: absolute;
    top: -30px;
    right: 2px;
    font-size: 60px;
    line-height: 1;
    opacity: 0.1;
}

/* fixed-width columns */
div.roam-table table {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
}

/* borders */
div.roam-table td {
    overflow: auto;
    border: 0;
    border-right: 1px solid var(--border-color-med);
    border-bottom: 1px solid var(--border-color-med);
}

div.roam-table td:first-child {
    border-left: 1px solid var(--border-color-med);
}

div.roam-table tr:nth-child(2) td {
    border-top: 1px solid var(--border-color-med);
}

/* rounded corners */
div.roam-table tr:nth-child(2) td:first-child {
    border-top-left-radius: var(--border-radius);
}

div.roam-table tr:nth-child(2) td:last-child {
    border-top-right-radius: var(--border-radius);
}

div.roam-table tr:last-child td:first-child {
    border-bottom-left-radius: var(--border-radius);
}

div.roam-table tr:last-child td:last-child {
    border-bottom-right-radius: var(--border-radius);
}

/* zebra stripes */
div.roam-table tr:nth-child(even) {
    background-color: var(--border-color-xlight);
}

.kanban-board {
    border-radius: var(--border-radius);
    padding: 4px 2px 0 2px;
    background-color: var(--border-color-dark);
}

.kanban-board .kanban-column {
    border-radius: var(--border-radius);
    padding: 0;
    margin: 0 2px;
    background-color: var(--border-color-xlight);
}

.kanban-board .kanban-column .kanban-title {
    text-align: left;
    font-weight: 600;
    border-bottom: none;
    padding: 8px 16px 0;
    margin-bottom: 0;
    min-height: auto;
    max-height: none;
}

.kanban-board .kanban-column .kanban-card {
    border-radius: var(--border-radius);
    padding: 6px 10px;
    background-color: var(--body-color);
    box-shadow: 0 0 0 1px var(--border-color-light);
}

.kanban-board .kanban-column .kanban-card:hover {
    box-shadow: 0 0 1px 2px var(--border-color-light);
    transform: rotate(1deg);
}

/* change color when dragging */
.kanban-board .kanban-column[style*='background'] .kanban-title {
    color: var(--font-color) !important;
}

.kanban-board .kanban-column[style*='background'] {
    background-color: var(--body-color) !important;
}

.version-bullet {
    font-size: 10px;
    background-color: var(--link-color) !important;
}

span.rm-select-version-button {
    opacity: 0.6;
}

/* highlight selected version */
span.rm-select-version-button.rm-button-selected {
    opacity: 1;
    font-weight: bold;
}

.roam-block-container
    .rm-block-main
    .rm-version-choice-wrapper
    .rm-version-choice {
    border-bottom-color: var(--border-color-light);
}

.rm-query {
    border-color: var(--border-color-med);
    border-radius: var(--border-radius);
}

.rm-query .rm-query-title {
    color: var(--font-color-h3);
    background-color: var(--border-color-xxlight);
    border-bottom: 1px solid var(--border-color-med);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.rm-draw {
    border-color: var(--border-color-med) !important;
}

div.rm-block[data-page-links*='youtube'] iframe {
    border: 2px solid var(--font-color);
    box-shadow: 0px 0px 0px 5px var(--border-color-light);
    border-radius: var(--border-radius);
    margin: 10px 0;
    width: 100%;
}

.bp3-elevation-3 {
    background-color: var(--body-color) !important;
    border: 1px solid var(--border-color-dark);
    border-radius: var(--border-radius);
    box-shadow: none;
}

.bp3-elevation-3 .dont-unfocus-block[style*='background-color'] {
    background-color: var(--border-color-light) !important;
}

.bp3-popover .bp3-popover-content,
.bp3-menu {
    background-color: var(--border-color-xlight);
    color: var(--font-color);
}

.bp3-popover .bp3-popover-content div[style*='color: rgb(167, 182, 194)'] {
    color: var(--font-color) !important;
}

.bp3-popover .bp3-popover-content .rm-line {
    border-color: var(--border-color-med) !important;
}

.bp3-popover .bp3-popover-arrow-fill {
    fill: var(--border-color-xlight) !important;
}

.bp3-popover .bp3-button {
    background: var(--border-color-xxlight) !important;
    color: var(--font-color) !important;
    box-shadow: 0 0 0 1px var(--border-color-med);
}

.bp3-popover .bp3-button:hover {
    box-shadow: 0 0 0 3px var(--border-color-med);
}

.bp3-popover .bp3-button sub {
    opacity: 0.5;
}

.bp3-popover .bp3-input {
    box-shadow: 0 0 0 2px var(--border-color-dark);
    background: var(--border-color-xxlight);
    color: var(--font-color);
    margin: 8px 5px !important;
}

.roam-body .roam-app .roam-sidebar-container .rm-graph-dropdown {
    box-shadow: 0 0 0 1px #415060;
    opacity: 1;
}

.roam-body .roam-app .roam-sidebar-container .bp3-menu {
    background: #1f2831;
}

.roam-body .roam-app .roam-sidebar-container .rm-graph-dropdown .bp3-menu-item {
    color: #dce1e6;
}

.bp3-button-text,
.bp3-menu-item .bp3-menu-item-label {
    color: var(--font-color);
}

.bp3-button.bp3-minimal:hover {
    color: var(--font-color);
    background-color: var(--border-color-light);
}

.roam-block-container[data-page-links*='--block:'] > .rm-block-main,
.roam-block-container[data-page-links*='--block-all:'] {
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: var(--border-color-trans);
    background-color: var(--border-color-xlight);
    padding: 6px 10px 6px 0;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

/* hide the hashtag */
.rm-page-ref--tag[data-tag*='--block:'],
.rm-page-ref--tag[data-tag*='--block-all:'] {
    display: none;
}

.roam-block-container[data-page-links*='--block:red'] > .rm-block-main,
.roam-block-container[data-page-links*='--block-all:red'] {
    background-color: var(--callout-bg-red);
}

.roam-block-container[data-page-links*='--block:yellow'] > .rm-block-main,
.roam-block-container[data-page-links*='--block-all:yellow'] {
    background-color: var(--callout-bg-yellow);
}

.roam-block-container[data-page-links*='--block:blue'] > .rm-block-main,
.roam-block-container[data-page-links*='--block-all:blue'] {
    background-color: var(--callout-bg-blue);
}

.roam-block-container[data-page-links*='--block:green'] > .rm-block-main,
.roam-block-container[data-page-links*='--block-all:green'] {
    background-color: var(--callout-bg-green);
}

/* prepend open sun to 'Morning Pages' */
span[data-link-title='Morning Pages']::before {
    content: '☼';
    color: var(--morning-pages);
}

/* prepend closed sun to 'Evening Pages' */
span[data-link-title='Evening Pages']::before {
    content: '☀';
    color: var(--evening-pages);
}

span.rm-page-ref[data-tag='Fleeting Notes'],
span.rm-page-ref[data-tag='Content Notes'],
span.rm-page-ref[data-tag='Reference Notes'],
span.rm-page-ref[data-tag='Core Notes'],
span.rm-page-ref[data-tag='Relevant Notes'] {
    border: 1px solid var(--border-color-med);
    color: var(--font-color);
    padding: 1px 5px 2px 5px;
    font-size: 13px;
    font-weight: 500;
    border-radius: var(--border-radius);
    box-shadow: 0px 0px 0px 2px var(--border-color-xlight);
    transition: all 0.15s ease-in-out;
}

span.rm-page-ref[data-tag='Core Notes'] {
    background-color: var(--zprime-bg);
    border-color: var(--zprime-border);
    color: #fff;
    box-shadow: 0px 0px 0px 2px var(--zprime-border-light);
}

span.rm-page-ref[data-tag='Relevant Notes'] {
    color: var(--link-color);
}

span.rm-page-ref[data-tag='Fleeting Notes']:hover,
span.rm-page-ref[data-tag='Content Notes']:hover,
span.rm-page-ref[data-tag='Reference Notes']:hover,
span.rm-page-ref[data-tag='Core Notes']:hover,
span.rm-page-ref[data-tag='Relevant Notes']:hover {
    border-color: var(--border-color-dark);
    box-shadow: 0px 0px 0px 3px var(--border-color-light);
    text-decoration: none;
}

span.rm-page-ref[data-tag='Core Notes']:hover {
    background-color: var(--zprime-bg-hover);
    border-color: var(--zprime-border-hover);
    box-shadow: 0px 0px 0px 3px var(--zprime-border-light-hover);
}

span.rm-page-ref[data-tag='Relevant Notes']::before {
    content: '✳';
    padding: 0 4px 0 0;
    opacity: 0.5;
    transition: opacity 0.15s ease-in-out;
}

span.rm-page-ref[data-tag='Fleeting Notes']::after,
span.rm-page-ref[data-tag='Content Notes']::after,
span.rm-page-ref[data-tag='Reference Notes']::after,
span.rm-page-ref[data-tag='Core Notes']::after,
span.rm-page-ref[data-tag='Relevant Notes']::after {
    content: '→';
    padding: 0 0 0 4px;
    opacity: 0.5;
    transition: opacity 0.15s ease-in-out;
}

span.rm-page-ref[data-tag='Fleeting Notes']:hover::after,
span.rm-page-ref[data-tag='Content Notes']:hover::after,
span.rm-page-ref[data-tag='Reference Notes']:hover::after,
span.rm-page-ref[data-tag='Core Notes']:hover::after,
span.rm-page-ref[data-tag='Relevant Notes']:hover::after,
span.rm-page-ref[data-tag='Relevant Notes']:hover::before {
    opacity: 1;
}

div.rm-block[data-page-links='["Reference Notes"]'] > .rm-block-main,
div.rm-block[data-page-links='["Content Notes"]'] > .rm-block-main,
div.rm-block[data-page-links='["Fleeting Notes"]'] > .rm-block-main {
    font-weight: 500;
    font-size: 13.5px;
}

span.rm-page-ref[data-tag='Core Notes'] + span[data-link-title] {
    font-weight: 700;
    padding-left: 1px;
}

[data-page-links*='Relevant Notes']
    > .rm-block-main
    [data-link-title]
    span.rm-page-ref {
    font-weight: 700;
}

[data-page-links*='Relevant Notes']
    > .rm-block-children
    > div:not(:last-child)
    span.rm-block-ref {
    border-bottom: none;
    font-weight: 500;
}

/* reposition ref mark from front to end */
[data-page-links*='Relevant Notes']
    > .rm-block-children
    > div:not(:last-child)
    span.rm-block-ref::before {
    content: '';
}

[data-page-links*='Relevant Notes']
    > .rm-block-children
    > div:not(:last-child)
    span.rm-block-ref::after {
    content: ' ※';
    color: var(--border-color-dark);
    font-family: Georgia;
    font-weight: 600;
}

/* hack to remove tag and replace with pseudo content */
span.rm-page-ref[data-tag='--choice'] {
    font-size: 0;
}

/* red when undone */
span.rm-page-ref[data-tag='--choice']::before {
    content: '⇆';
    font-size: 14px;
    color: #fff;
    background-color: var(--choice-red);
    padding: 1px 3px;
    border-radius: var(--border-radius-sm);
}

/* green when done */
div[data-page-links='["DONE","--choice"]']
    span.rm-page-ref[data-tag='--choice']::before {
    background-color: var(--choice-green);
}

span.rm-page-ref[data-tag='--choice']:hover {
    text-decoration: none;
}

div[data-page-links='["Advantages"]'] .rm-attr-ref::before {
    content: '↑ ';
    color: var(--choice-green);
}

div[data-page-links='["Disadvantages"]'] .rm-attr-ref::before {
    content: '↓ ';
    color: var(--choice-red);
}

span.rm-page-ref[data-tag='Ticker'] {
    display: none;
}

span.rm-page-ref[data-tag='Ticker'] + span.rm-page-ref {
    font-size: 0;
    margin-left: -3px;
}

span.rm-page-ref[data-tag='Ticker'] + span.rm-page-ref::before {
    content: '$' attr(data-tag);
    font-size: 14px;
    color: var(--ticker-color);
}

span.rm-page-ref[data-tag='Ticker'] + span.rm-page-ref[data-tag='BTC']::before {
    content: '₿';
    font-size: 15px;
    display: inline-block;
    transform: rotate(-5deg);
}

span.rm-page-ref[data-tag='Ticker'] + span.rm-page-ref:hover {
    text-decoration: none;
}

/* long strings in popovers don't wrap */
.bp3-popover {
    word-wrap: break-word;
}

/* popovers are hidden under the sidebar */
.roam-body .roam-app .roam-sidebar-container {
    z-index: 20;
}

/*

Credits: Originally forked from https://github.com/exploriter/roam-themes

*/
