/*-----------------------------------------------------------------------------
  Beau Haan's Styles (See: https://roamresearch.com/#/app/Help/page/MtLgnGnU8)
----------------------------------------------------------------------------- */

/*-------------------------------
  Rich Text Formatting (for block & page refs)
------------------------------- */

[data-page-links*='\"****\"'] > .rm-block-main > .roam-block,
[data-page-links*='\"****\"'] > .rm-block-main > .rm-autocomplete__wrapper {
  font-weight: bold;
}

[data-link-title="****"] {
  display:none;
}

[data-page-links*='\"____\"'] > .rm-block-main > .roam-block,
[data-page-links*='\"____\"'] > .rm-block-main > .rm-autocomplete__wrapper {
  font-style: italic; 
}

[data-link-title="____"] {
  display:none;
}

[data-page-links*='\"$$$$\"'] > .rm-block-main > .roam-block,
[data-page-links*='\"$$$$\"'] > .rm-block-main > .rm-autocomplete__wrapper {
  text-decoration: underline;
}

[data-link-title="$$$$"] {
  display:none;
}
