/*
- #vertical {{[[kanban]]}}
*/


div[data-path-page-links*="vertical"] .rm-full-width .kanban-board {
  padding: 0 !important; /* remove whitespace */
  background-color: transparent !important; /* Strips out some of the default kanban styling, bg colors */
}

div[data-path-page-links*="vertical"] ~ .rm-full-width .kanban-board .kanban-column-container {
  max-width: 400px !important;
  flex-direction: column !important;
  padding: 12px 0 !important;
}

.rm-reference-main .rm-zoom-item div[data-path-page-links*="vertical"] .rm-full-width .kanban-board:after,
.rm-sidebar-outline .rm-zoom-item div[data-path-page-links*="vertical"] .rm-full-width .kanban-board:after,
.rm-inline-references div[data-path-page-links*="vertical"] .rm-full-width .kanban-board:after {
  content: "Kanban (Vertical)";
  font-style: italic;
}

.rm-reference-main .rm-zoom-item div[data-path-page-links*="vertical"] .rm-full-width .kanban-board .kanban-column-container,
.rm-sidebar-outline .rm-zoom-item div[data-path-page-links*="vertical"] .rm-full-width .kanban-board .kanban-column-container,
.rm-inline-references div[data-path-page-links*="vertical"] .rm-full-width .kanban-board .kanban-column-container {
  display: none;
}

div[data-path-page-links*="vertical"] .rm-full-width .kanban-board  .kanban-column-container .kanban-column {
  flex: 1 1 auto !important; 
  border: 1px solid rgba(0,0,0,0.1) !important;
  padding: 4px 12px !important;
  margin: -1px 4px;
  border-bottom: none !important;
  border-top: none !important;
}

div[data-path-page-links*="vertical"] .rm-full-width .kanban-board  .kanban-column-container .kanban-column:first-of-type {
  border-top: 1px solid rgba(0,0,0,0.1) !important;
}

div[data-path-page-links*="vertical"] .rm-full-width .kanban-board  .kanban-column-container .kanban-column:last-of-type {
  border-bottom: 1px solid rgba(0,0,0,0.1) !important;
}

/* Hide the #matrix tag */
/*[data-tag="vertical"] {
  display: none !important; 
}*/

/*
  Styling Tweaks
*/ 

div[data-path-page-links*="vertical"] .rm-full-width .kanban-board  .kanban-column-container .kanban-column .kanban-title {
  text-align: left !important;
  min-height: unset !important;
  max-height: unset !important;
  border-bottom: 1px solid rgba(0,0,0,0.15) !important;
  margin-bottom: 6px !important;
  padding-bottom: 4px !important;
}

/* lighten up card background - less jarring */
div[data-path-page-links*="vertical"] .rm-full-width .kanban-board  .kanban-column-container .kanban-column .kanban-card {
  background-color: rgba(256,256,256,0) !important;
  margin: 4px 0 !important;
  padding: 4px 0 !important;
}
