/*-----------------------------------------------------------------------------
  ROAM/CSS TAGS (ROAM COLLECTIVE CONVENTION)
----------------------------------------------------------------------------- */

/*-------------------------------
  Variables
-------------------------------*/

/* Black, White, Gray */

:root {
  --cl-white:    #ffffff;
  --cl-gray-100: #f8f9faff; /*--cultured*/
  --cl-gray-200: #e9ecefff; /*--cultured-2*/
  --cl-gray-300: #dee2e6ff; /*--gainsboro*/
  --cl-gray-400: #ced4daff; /*--light-gray*/
  --cl-gray-500: #adb5bdff; /*--cadet-blue-crayola*/
  --cl-gray-600: #6c757dff; /*--slate-gray*/
  --cl-gray-700: #495057ff; /*--davys-grey*/
  --cl-gray-800: #343a40ff; /*--gunmetal*/
  --cl-gray-900: #212529ff; /*--charleston-green*/
  --cl-black:    #000000;
}

/* Red */
:root {
  --cl-red-100: #ffc2c4ff; /*--spanish-pink*/
  --cl-red-200: #f9acafff; /*--light-pink*/
  --cl-red-300: #f3969aff; /*--salmon-pink*/
  --cl-red-400: #ed8084ff; /*--light-coral*/
  --cl-red-500: #e86b6fff; /*--candy-pink*/
  --cl-red-600: #e2555aff; /*--indian-red*/
  --cl-red-700: #dc3f45ff; /*--rose-madder*/
  --cl-red-800: #d6292fff; /*--amaranth-red*/
  --cl-red-900: #d0131aff; /*--lava*/
}

:root {
  --cl-orange-100: #ffcdadff; /*--apricot:*/
  --cl-orange-200: #fbbe97ff; /*--peach-crayola:*/
  --cl-orange-300: #f7af82ff; /*--macaroni-and-cheese:*/
  --cl-orange-400: #f3a06cff; /*--atomic-tangerine:*/
  --cl-orange-500: #f09257ff; /*--atomic-tangerine-2:*/
  --cl-orange-600: #ec8341ff; /*--princeton-orange:*/
  --cl-orange-700: #e8742bff; /*--spanish-orange:*/
  --cl-orange-800: #e46516ff; /*--spanish-orange-2:*/
  --cl-orange-900: #e05600ff; /*--persimmon:*/
}
